*.beam
*.o
*.plt
*.sublime-project
*.sublime-workspace
.eunit
debug-*
ebin/*
erl_crash.dump
rebar3.*dump
.rebar
bin
_build/*
docs/master/current/api
docs/master/current/user-guide
docs/user-guide/build/
docs/user-guide/Gemfile.lock
